[submodule "src/daybreak-mod"]
	path = src/daybreak-mod
	url = https://github.com/gold-meridian/daybreak-mod.git
[submodule "src/TileHelper"]
	path = src/TileHelper
	url = https://github.com/misterslime/TileHelper
	branch = 1.4.5
