[submodule "lib/daybreak-mod"]
	path = lib/daybreak-mod
	url = https://github.com/gold-meridian/daybreak-mod
[submodule "lib/TileHelper"]
	path = lib/TileHelper
	url = https://github.com/QuestionMark810/TileHelper
